DB_SCHEME=postgresql+psycopg
DB_HOST=db
DB_PORT=5432
DB_EXTERNAL_PORT=5489
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=notas_fiscais

SECRET_KEY=2f5f32b80959ece1c0392c1ec67638e099fa66a7ec51f734032c10f6d2ed7ff8
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7